.vscode

*.mp4
*.jpg

stb_*

greyscale
greyscale.cu

threshold
threshold.cu

mBlurexample
medianBlur
medianBlur.cu

sobel
sobel.cu

smSobel
smSobel.cu

phases.md
reposplits.md

*.pt
*.onnx
*.engine

/runs
/datm/outputs

build
install
